<script src="/js/jquery-4.0.0.min.js"></script>
<div class="leftSide">
    <div class="leftNavBar">
        <nav>
            <div class="Mavis"><h1>MAVIS</h1></div>
            <a id="housePicker">
                <div class="Logo">
                    <div class="logoImage">
                        <img src="images/smart-home.png" alt="smart-home">
                    </div>
                    <div class="logoTextContainer">
                        <h2>My crib</h2>
                        <div class="textDevider"></div>
                        <h3>Peremohy st., 125-b</h3>
                    </div>
                </div>
            </a>

            <a href="/">
                <div class="leftNavButton <%= activePage == 'index' ? 'Primary' : '' %>">
                    <img src="images/menu-button.png" alt="Main page">
                    <p>Main page</p>
                </div>
            </a>

            <a href="/devicemap">
                <div class="leftNavButton <%= activePage == 'devicemap' ? 'Primary' : '' %>">
                    <img src="images/scheme.png" alt="Device map">
                    <p>Device map</p>
                </div>
            </a>

            <a href="/statistics">
                <div class="leftNavButton <%= activePage == 'statistics' ? 'Primary' : '' %>">
                    <img src="images/chart.png" alt="Statistics">
                    <p>Statistics</p>
                </div>
            </a>

            <a href="/settings">
                <div class="leftNavButton <%= activePage == 'settings' ? 'Primary' : 'Secondary' %> SettingsHotFix">
                    <img src="images/setting.png" alt="Settings">
                    <p>Settings</p>
                </div>
            </a>
        </nav>
    </div>
</div>
<div class="windowArea" style="display: none;">
    <div class="housePickerWindow Object Large">
        <div class="objectHeader"><p>Pick your house:</p></div>
        <div class="optionArea">
            <div class="Button"><p>Pick your house:</p></div>
            <div class="Button"><p>Pick your house:</p></div>
            <div class="Button"><p>Pick your house:</p></div>
            <div class="Button"><p>Pick your house:</p></div>
            <div class="buttonContainer">
                <div class="buttonSmall Primary" id="housePickerAdd"><p>Add a house</p></div>
                <div class="buttonSmall Primary" id="housePickerOKButton"><p>Finish picking</p></div>
            </div>
        </div>

    </div>  
</div>

<script src="/js/navbar.js"></script>
<script>
    $(document).ready(function() {
        $("#housePicker").click(function(e) {
            e.preventDefault();
            $(".windowArea").css("display", "flex");
        });

        $("#housePickerOKButton").click(function(e) {
            e.preventDefault();
            $(".windowArea").css("display", "none");
        });
    });
</script>