<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mavis</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="container">

            <%- include('partials/navbar') %>

            <div class="objectArea">
                
                <div class="gridColumn">
                    <div class="Object Medium">
                        <div class="objectHeader">
                            <img src="images/notification.png" alt="Notification">
                            <p>Notifications</p>
                        </div>
                        <div class="objectOptions">
                            <a href=""><div class="Button Primary"><p>User Natalia has gained access to the kitchen room</p><div class="Time">22:08</div></div></a>
                            <a href=""><div class="Button"><p>User Natalia has gained access to the kitchen room</p><div class="Time">22:08</div></div></a>
                        </div>
                    </div>

                    <div class="Object Medium">
                        <div class="objectHeader">
                            <img src="images/copy.png" alt="Notification">
                            <p>Patterns</p>
                        </div>
                        <div class="objectOptions">
                            <a href=""><div class="buttonSmall orange"><p>Comfort</p></div></a>
                            <a href=""><div class="buttonSmall blue"><p>Work</p></div></a>
                            <a href=""><div class="buttonSmall purple"><p>Party</p></div></a>
                            <a href=""><div class="buttonSmall grey"><p>Away</p></div></a>
                        </div>
                    </div>

                    <div class="Object Medium">
                        <div class="objectHeader">
                            <img src="images/thoughts.png" alt="Notification">
                            <p>Mood</p>
                        </div>
                        <div class="objectOptions">
                            <a href=""><div class="buttonSmall green"><p>Funky</p></div></a>
                            <a href=""><div class="buttonSmall blue"><p>Serious</p></div></a>
                            <a href=""><div class="buttonSmall purple"><p>Sad</p></div></a>
                            <a href=""><div class="buttonSmall pink"><p>Romantic</p></div></a>
                        </div>
                    </div>
                </div>

                <div class="gridColumn">
                    <div class="Object Large">
                        <div class="objectOptions">
                            <a href="">
                                <div class="Button Square yellow">
                                    <h1>Electricity</h1>
                                    <div class="objectOptions">
                                        <img src="images/power.png" alt="power">
                                        <p>3kW</p>
                                    </div>
                                </div>
                            </a>

                            <a href="">
                                <div class="Button Square green">
                                    <h1>Internet traffic</h1>
                                    <div class="objectOptions">
                                        <img src="images/internet.png" alt="internet">
                                        <p>125.6Gb</p>
                                    </div>
                                </div>
                            </a>

                            <a href="">
                                <div class="Button Square blue">
                                    <h1>Water</h1>
                                    <div class="objectOptions">
                                        <img src="images/drop.png" alt="water">
                                        <p>3m³</p>
                                    </div>
                                </div>
                            </a>

                            <a href="">
                                <div class="Button Square red">
                                    <h1>Heating</h1>
                                    <div class="objectOptions">
                                        <img src="images/gas.png" alt="heating">
                                        <p>15m³</p>
                                    </div>
                                </div>
                            </a>
                            
                        </div>
                    </div>
                    

                    <div class="Object Small">
                        <div class="objectHeader">
                            <img src="images/notification.png" alt="Notification">
                            <p>G</p>
                        </div>
                        <div class="objectOptions">
                            <a href=""><div class="buttonSmall Primary"><p>User Natalia has gained access to the kitchen room</p><div class="Time">22:08</div></div></a>
                            <a href=""><div class="buttonSmall Primary"><p>User Natalia has gained access to the kitchen room</p><div class="Time">22:08</div></div></a>
                        </div>
                    </div>
                    

                    <div class="Object Small">
                        <div class="objectHeader">
                            <img src="images/notification.png" alt="Notification">
                            <p>Notifications</p>
                        </div>
                        <div class="objectOptions">
                            <a href=""><div class="buttonSmall Primary"><p>User Natalia has gained access to the kitchen room</p><div class="Time">22:08</div></div></a>
                            <a href=""><div class="buttonSmall Primary"><p>User Natalia has gained access to the kitchen room</p><div class="Time">22:08</div></div></a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </body>
</html>