<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mavis - Register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div class="container">
            <div class="Object Login">
                <div class="objectHeader">
                    <h1>Register</h1>
                </div>

                <form id="signupForm" method="post" enctype="multipart/form-data" novalidate>

                    <div class="input-group">
                        <label for="userName">Full Name</label>
                        <input type="text" id="userName" name="userName" placeholder="John Doe" required autocomplete="name">
                    </div>

                    <div class="input-group">
                        <label for="email">Email address</label>
                        <input type="email" id="email" name="email" placeholder="name@example.com" required autocomplete="email">
                    </div>

                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="••••••••" required>
                    </div>

                    <div class="input-group">
                        <label for="passwordConfirm">Confirm Password</label>
                        <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="••••••••" required>
                    </div>

                    <!-- Поле для завантаження аватара -->
                    <div class="input-group file-group">
                        <label for="avatar">Avatar Image</label>
                        <input type="file" id="avatar" name="avatar" accept="image/*" required>
                    </div>

                    <button type="submit" class="login-btn buttonSmall green"><p>Register</p></button>
                </form>

                <p class="register-redirect">
                    Already have an Account? <a href="/login">Log in</a>
                </p>
            </div>
        </div>

        <script src="/js/register.js"></script>
    </body>
</html>
